ul{
    list-style-type: none;
}

h1{
    text-align:center;
    color:#F0D9D0;
    color:black;
    background-color:#E2B080;
    padding:20px 0px;
    margin-bottom:0;
}
#countdown{
    color:#F0D9D0;
}

.container{
    background-color:#F0D9D0;
}
html{
    font-size:1em;
}

footer > h5
{
    text-align:center;
    color:#F0D9D0;
    background-color:#8E806A;
    padding:20px 0px;
}
img{
    width:200px;
    height:auto;
}